.search-form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*.search-form__textfield:focus {*/
/*    outline-color: white;*/
/*    outline-width: 1px;*/
/*}*/