.content__card-link {
    text-decoration: none;
    display: block;
    margin: 2px;
}
.content__card-link:focus {
    outline: none;
}
.content__card-link:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}