.button {
    color: #FFF;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}

.button:hover {
    text-decoration: underline;
}
.button:active {
    background: #545050;
    text-decoration: none;
}